.main-container {
  height: 100%;

  width: 100%;
  max-width: 1612px;
  display: flex;
  align-items: center;
}

/* 1580px */
/* max-width: 1612px; */
/* max-width: 1694px; */

.window {
  height: 100%;
  width: 100%;
}

.items-container {
  height: 100%;

  display: flex;
}

.arrow {
  cursor: pointer;
}
